.about-container {
  display: flex;
  flex-direction: row;
}

.about-sidebar {
  width: 30%;
  margin-left: 25px;
  margin-top: 38px;
}

.about-sidebar ul {
  list-style: none;
  max-width: 195px;
}

.about-sidebar ul ul {
  margin-left: -25px;
}

.about-sidebar a {
  color: #636363;
  margin-right: -50px;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  display: block;
  position: relative;
  transition: color 0.3s, transform 0.3s;
}

.about-sidebar a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 2%;
  bottom: 1px;
  height: 2px;
  background-color: #faf8f8;
}

.about-sidebar a.active {
  font-weight: bold;
  color: #36294a;
}

.about-sidebar a.active::after {
  background-color: black;
  left: 0;
  right: 2%;
}

.about-sidebar a:hover {
  color: rgb(184, 184, 200);
  transition: background-color 0.35s ease;
}

.about-sidebar a.active:hover {
  color: #9090a0;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.35s ease;
}

.about-sidebar a.active-sub {
  color: black;
  font-weight: bold;
}

.about-sidebar a.active-sub:hover {
  color: #9090a0;
  font-weight: bold;
  text-decoration: none;
}

.about-content {
  width: 64%;
  background-color: #ffffff;
  text-align: left;
  margin-left: -98px;
}

.about-header {
  margin-top: 45px;
}

.about-header h1 {
  font-size: 36px;
  color: black;
  font-weight: 500;
}

.about-header h2 {
  color: black;
  font-weight: 400;
  margin-top: 35px;
}

.about-button {
  background-color: #be5a0e;
  color: #fff;
  padding: 14px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.35s ease;
  margin-left: 5px;
  width: 240px;
  font-size: 16px;
  margin-top: 15px;
}

.about-button:hover {
  background-color: #390d68;
}

.second-button {
  background-color: #be5a0e;
  color: #fff;
  padding: 14px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.35s ease;
  width: 400px;
  font-size: 16px;
  margin-left: 60px;
}

.second-button:hover {
  background-color: #390d68;
}

.about-section p {
  color: #2d2d2d;
  font-weight: normal;
}

img {
  margin: 40px 0;
}

@media (max-width: 768px) {
  .about-sidebar {
    display: none;
  }

  .about-content {
    width: 100%;
    padding: 20px;
  }
}
