.about-container {
  padding: 50px;
  display: flex;
  flex-direction: row;
}

.about-sidebar {
  width: 30%;
  margin-left: -30px;
  margin-right: -50px;
  margin-top: -30px;
}

.about-sidebar ul {
  list-style: none;
  max-width: 195px;
}

.about-sidebar a {
  color: #636363;
  margin-right: -50px;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  display: block;
  position: relative;
  transition: color 0.3s, transform 0.3s;
}

.about-sidebar a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 5%;
  bottom: 1px;
  height: 2px;
  background-color: #f0f0f0;
}

.about-sidebar a.active {
  font-weight: bold;
  color: #36294a;
}

.about-sidebar a.active::after {
  background-color: black;
  left: 0;
  right: 5%;
}

.about-sidebar a:hover {
  color: rgb(184, 184, 200);
  transition: background-color 0.35s ease;
}

.about-sidebar a.active:hover {
  color: #9090a0;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.35s ease;
}

.flights-link {
  margin-left: -20px;
}

.about-sidebar a.active-sub {
  color: black;
  font-weight: bold;
}

.about-sidebar a.active-sub:hover {
  color: #9090a0;
  font-weight: bold;
  text-decoration: none;
}

.about-content {
  width: 80%;
  background-color: #ffffff;
  padding: 50px;
  border-radius: 10px;
  text-align: left;
  margin-right: 30px;
}

.about-header {
  text-align: left;
  padding: 20px 0;
  margin-top: -150px;
}

.about-header h1 {
  font-size: 36px;
  color: black;
  font-weight: 400;
  margin-top: 75px;
}

.about-header h2 {
  color: black;
  font-weight: 400;
  margin-top: 35px;
}

.about-header p {
  color: #333;
  margin: 20px 0;
}

.about-button {
  background-color: #be5a0e;
  color: #fff;
  padding: 14px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.35s ease;
  margin-left: 5px;
  width: 240px;
  font-size: 16px;
  margin-top: 15px;
}

.about-button:hover {
  background-color: #390d68;
}

.second-button {
  background-color: #be5a0e;
  color: #fff;
  padding: 14px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.35s ease;
  width: 400px;
  font-size: 16px;
  margin-left: 60px;
}

.second-button:hover {
  background-color: #390d68;
}

.about-section {
  margin-bottom: 30px;
}

.about-section h2 {
  color: #662985;
  margin-bottom: 20px;
}

.about-section p {
  color: #333;
  font-weight: normal;
}

.about-link {
  color: #be5a0e;
  text-decoration: none;
}

.about-link:hover {
  text-decoration: underline;
}

img {
  margin: 40px 0;
}

@media (max-width: 768px) {
  .about-sidebar {
    display: none;
  }

  .about-content {
    width: 100%;
    padding: 20px;
  }
}
