.airline-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: flex-start;
  margin-top: 75px;
}

.airline-card {
  background-color: #fff;
  box-shadow: 0 0 0px 2px #e9e9e9;
  border-radius: 1px;
  padding: 20px;
  width: 22%;
  height: 200px;
  margin-bottom: -70px;
  text-align: center;
}

.airline-card:hover {
  transform: scale(1.02);
}

.airline-info-top a {
  color: black;
  text-decoration: none;
}

.airline-card h2 {
  font-size: 1.5em;
  color: #333;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: -5px;
  text-align: center;
  margin-left: 0 !important;
}

.airline-card p {
  font-size: 0.9em;
  color: #666;
  margin-bottom: -15px;
  text-align: center;
}

.airline-card a {
  color: #be5a0e;
  text-decoration: none;
}

.airline-card a:hover {
  text-decoration: none;
}

.airline-info-links-container {
  margin-top: 125px;
  margin-bottom: 100px;
}

.airline-info-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.airline-info-links-item {
  display: flex;
  width: 120px;
  flex-direction: column;
  align-items: center;
  color: #3a3b5a;
  font-size: 1rem;
  box-shadow: 0 0 0px 2px #e9e9e9;
  transition: all 0.3s ease-out 0.3s;
}

.airline-info-links-item:hover {
  color: #be5a0e;
}

.airline-info-links-item:hover {
  cursor: pointer;
  color: #be5a0e;
}

/* Responsive Design */
@media (max-width: 768px) {
  .airline-card {
    width: 45%;
    margin-bottom: -50px;
  }

  .section-links-flights-travel-container {
    padding: 10px;
    gap: 20px;
  }

  .link-item-flights-travel {
    width: 100px;
    font-size: 0.8rem;
  }
}
