.bus-transporation h2 {
  margin-left: 0 !important;
}

.bus-transporation h3 {
  color: #be5a0e;
  margin-bottom: -15px;
  font-size: 20px;
}

.bus-transporation a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.buses-container a:hover {
  text-decoration: underline;
}

.bus-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 85px;
}

.bus-table th,
.bus-table td {
  padding: 10px;
  text-align: left;
}

.bus-table th {
  border-top: 1px solid black;
}

.bus-table tr:nth-child(odd) td {
  background-color: white;
}

.bus-table tr:nth-child(even) td {
  background-color: #f0f0f0;
}

.bus-table tr:last-child td {
  border-bottom: 1px solid black;
}

.bus-table tr:first-child td {
  border-top: 1px solid black;
}
