.careers-container {
  font: 400 16px / 1.5 "Montserrat", sans-serif;
  padding: 50px;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.careers-sidebar {
  width: 20%;
  margin-right: 30px;
  margin-top: -25px;
}

.careers-sidebar ul {
  list-style: none;
  padding: 0;
  margin-left: 20px;
}

.careers-sidebar a {
  color: #6f6f7b;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  display: block;
  transition: color 0.3s, transform 0.3s;
}

.careers-sidebar a.active {
  font-weight: bold;
  position: relative;
  color: black;
}

.careers-sidebar a.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1px;
  height: 2px;
  background-color: #662985;
}

.careers-sidebar a.active:hover {
  color: #9090a0;
}

.careers-sidebar a:hover {
  color: #323e66;
}

.careers-content {
  width: 80%;
  background-color: #ffffff;
  padding: 50px;
  border-radius: 10px;
  text-align: left;
}

.careers-header {
  text-align: left;
  padding: 20px 0;
  margin-top: -110px;
}

.careers-header h1 {
  font-size: 36px;
  color: black;
  font-weight: 400;
}

.careers-header p {
  color: #333;
  margin: 20px 0;
  max-width: 950px;
}

.careers-button {
  background-color: #be5a0e;
  color: #fff;
  padding: 14px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.35s ease;
  margin-left: 5px;
  margin-bottom: 35px;
  width: 290px;
  font-size: 18px;
}

.careers-button:hover {
  background-color: #390d68;
}

.careers-section {
  margin-bottom: 45px;
}

.careers-section h2 {
  color: black;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 28px;
}

.careers-section h3 {
  color: #be5a0e;
  font-size: 20px;
  margin-bottom: -15px;
}

.careers-section p {
  color: #333;
  font-weight: bold;
  max-width: 950px;
  margin-bottom: -15px;
  font-size: 17px;
}

.careers-link {
  color: #be5a0e;
  text-decoration: none;
}

.careers-link:hover {
  text-decoration: underline;
}

.section-links-container2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 40px;
  height: 200px;
  width: 100%;
}

.section-links2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 125px;
  margin-right: 150px;
}

.link-item2 {
  display: flex;
  width: 120px;
  flex-direction: column;
  align-items: center;
  color: #3a3b5a;
  font-size: 1rem;
  transition: transform 0.3s, color 0.3s;
  transition: all 0.5s ease-out 0.25s;
  border: 1px solid rgb(180, 178, 178);
}

.link-item1:hover {
  color: #be5a0e;
}

.link-item1:hover {
  cursor: pointer;
  color: #be5a0e;
}
