.careers-button {
  background-color: #be5a0e;
  color: #fff;
  padding: 14px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.35s ease;
  margin-left: 5px;
  margin-bottom: 35px;
  width: 290px;
  font-size: 18px;
}

.careers-button:hover {
  background-color: #390d68;
}

.careers-section {
  margin-bottom: 45px;
}

.careers-section h2 {
  color: black;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 28px;
}

.careers-section h3 {
  color: #be5a0e;
  font-size: 20px;
  margin-bottom: -15px;
}

.careers-section p {
  color: #333;
  font-weight: bold;
  max-width: 950px;
  margin-bottom: -15px;
  font-size: 17px;
}

.careers-links-container {
  margin-top: 125px;
  margin-bottom: 100px;
}

.careers-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.careers-item {
  display: flex;
  width: 120px;
  flex-direction: column;
  align-items: center;
  color: #3a3b5a;
  font-size: 1rem;
  transition: all 0.3s ease-out 0.3s;
  border: 1px solid rgb(180, 178, 178);
}

.careers-item:hover {
  color: #be5a0e;
}

.careers-item:hover {
  cursor: pointer;
  color: #be5a0e;
}
