.highlight-link {
  color: #36294a;
  font-weight: bold;
  text-decoration: none;
}

.highlight-link:hover {
  text-decoration: underline;
}

.buttons-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.resource-button {
  background-color: #be5a0e;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.resource-button:hover {
  background-color: #b56917;
}
