.contact-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 15px;
}

.contact-header {
  margin-bottom: 20px;
}

.contact-header h1 {
  font-size: 2.1em;
  margin-bottom: 10px;
  color: #4a4a4a;
  font-weight: 500;
}

.contact-header p {
  margin-bottom: 10px;
}

.contact-header a {
  color: #4a4a4a;
  text-decoration: none;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 50px;
  margin-top: 40px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  flex: 0.55;
}

.contact-input,
.contact-textarea,
select.contact-input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid black !important;
  border-radius: 1px;
  color: black;
  font-size: 1.1em;
  transition: box-shadow 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.contact-textarea {
  font-size: 30px;
}

.contact-input::placeholder,
.contact-textarea::placeholder {
  color: rgb(178, 166, 166);
  font-style: italic;
}

.contact-input:hover::placeholder,
.contact-textarea:hover::placeholder {
  color: black;
}

.contact-input:hover,
.contact-input:focus,
.contact-textarea:hover,
.contact-textarea:focus,
select.contact-input:hover,
select.contact-input:focus {
  color: black;
  box-shadow: 0 0 5px 2px #be5a0e;
  border-color: #be5a0e;
}

.contact-input,
.contact-textarea,
select.contact-input {
  box-shadow: none;
  border-color: #ddd;
}

.contact-textarea {
  height: 170px;
  font-size: 1.1em;
  resize: none;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-button {
  background-color: #be5a0e;
  color: white;
  border: none;
  padding: 15px;
  font-size: 1.2em;
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.35s ease;
}

.contact-button:hover {
  background-color: #390d68;
  color: white;
}

.bottom a {
  color: #be5a0e;
}

.contact-info {
  max-width: 400px;
  flex: 0.45;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-info h2 {
  margin-top: 80px;
  font-size: 22px;
  color: #4a4a4a;
  margin-left: 20px;
  margin-bottom: -5px;
}

.contact-info p {
  font-size: 16px;
  color: #4a4a4a;
  margin-left: 20px;
  margin-bottom: -20px;
}

.contact-info a {
  display: block;
  margin-top: 10px;
  color: #be5a0e;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
}

.bottom {
  margin-bottom: 75px;
}

.contact-info a:hover {
  text-decoration: none;
}

.additional-info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
}

.info-box {
  flex: 1;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.info-box:hover {
  transform: scale(1.02);
}

.info-box a {
  text-decoration: none;
  color: black;
}

.info-icon {
  font-size: 90px;
  margin-bottom: 10px;
}

.info-icon a {
  text-decoration: none;
}

.vehicle-info {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.vehicle-info:hover {
  transform: scale(1.02);
}

.vehicle-info p {
  max-width: 800px;
  margin: 0 auto;
  margin-top: -10px;
}

.vehicle-info h3 {
  margin-top: -15px;
  font-weight: 600;
}

.vehicle-icon {
  font-size: 90px;
  margin-bottom: 10px;
}

li {
  text-align: left;
}

select.contact-input {
  color: black !important;
  font-style: normal;
  cursor: pointer;
}

@media (max-width: 768px) {
  .contact-content {
    flex-direction: column;
  }

  .contact-form,
  .contact-info {
    flex: 1;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .contact-header h1 {
    font-size: 1.8em;
  }

  .additional-info {
    flex-direction: column;
  }

  .info-box {
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .contact-header h1 {
    font-size: 1.5em;
  }

  .contact-header p {
    font-size: 14px;
  }

  .contact-button {
    padding: 10px;
    font-size: 1em;
  }

  .contact-info h2 {
    font-size: 20px;
  }

  .contact-info p {
    font-size: 14px;
  }
}
