.flight-status-container {
  text-align: center;
}

.mainContainer {
  width: 100%;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -225px;
  background: linear-gradient(to bottom, #d1e8ff, #ffffff);
}

.mainContainer img {
  width: 800px;
  position: relative;
  transition: transform 0.5s ease;
  z-index: 3;
}

.flight-status-text {
  margin-top: 20px;
  color: #333;
}

.flight-status-text h1 {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 40px;
}

.flight-filter-container {
  background-color: #f3f3f3;
  padding: 10px;
  margin: 10px auto;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 84%;
}

.flight-filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  width: 300px;
}

.flight-filters label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  font-weight: 500;
  margin-top: 10px;
}

.flight-filters input[type="radio"] {
  display: none;
}

.flight-filters .radio-label {
  position: relative;
  padding-left: 35px;
  font-size: 1em;
  color: #333;
  margin-right: 10px;
}

.flight-filters .radio-label:before {
  content: "";
  width: 22px;
  height: 22px;
  border: 2px solid #ddd;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: lightgray;
  margin-right: 10px;
}

.flight-filters input[type="radio"]:checked + .radio-label {
  font-weight: bold;
}

.flight-filters input[type="radio"]:checked + .radio-label:before {
  background-color: #68ab44;
  border-color: #68ab44;
}

.flight-filter-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.flight-filter-select,
.flight-filter-input,
.flight-filter-search-input {
  padding-top: 8px;
  padding-left: 3px;
  padding-bottom: 8px;
  border: 3px solid #323e66;
  border-radius: 1px;
  width: 325px;
  font-size: 20px;
  color: black;
  font-weight: 600;
}

.flight-filter-select {
  margin-right: 5px;
}

.flight-filter-search-input {
  width: 275px;
}

.flight-filter-select::placeholder,
.flight-filter-input::placeholder {
  font-weight: bold;
  color: black;
  padding-top: 8px;
  padding-left: 3px;
  padding-bottom: 8px;
}

.flight-filter-search-input::placeholder {
  font-weight: bold;
  font-style: italic;
  color: gray;
  padding-top: 8px;
  padding-left: 3px;
  padding-bottom: 8px;
}

.flight-filter-button {
  color: #fff;
  line-height: 1.1;
  vertical-align: middle;
  font-weight: 500;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  background-color: #36294a;
  cursor: pointer;
  width: 225px;
}

.flight-filter-button:hover {
  background-color: #be5a0e;
  transition: background-color 0.3s ease-in-out;
}

.flight-table {
  margin: 10px auto;
  width: 85%;
}

.flight-table table {
  width: 100%;
  margin: auto;
  margin-top: -10px;
  border-collapse: collapse;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.flight-table th,
.flight-table td {
  padding: 20px;
  border-bottom: 1px solid lightgray;
  font-weight: bold;
  text-align: left;
  padding-left: 50px;
}

.flight-table th {
  color: #767676;
}

.flight-table td:hover {
  cursor: pointer;
}

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: -25px;
}

.status-dot.green {
  background-color: #68ab44;
}

.status-dot.red {
  background-color: #be5a0e;
}

.flight-table td.green {
  color: #68ab44;
}

.flight-table td.red {
  color: #be5a0e;
}

.in-air-icon {
  margin-left: 5px;
}

.flight-table span {
  margin-right: 40px;
}

.flight-table-footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 20px;
  color: #be5a0e;
  margin: 5px 125px;
  margin-bottom: 225px;
}

.left-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-footer p {
  color: gray;
}

.right-footer p {
  font-weight: 600;
}

.in-air-icon {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .flight-filter-container {
    margin: 10px 20px;
  }

  .flight-filter-inputs {
    flex-direction: column;
  }

  .flight-filter-select,
  .flight-filter-input,
  .flight-filter-search-input,
  .flight-filter-button {
    width: 100%;
    margin-bottom: 10px;
  }
}
