.header-container {
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 12;
}

.header-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 31, 0.5);
  z-index: -1;
}

.top-nav {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  background-color: transparent;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  top: 0;
  z-index: 10;
  color: white !important;
}

.top-nav.hidden {
  opacity: 0;
  visibility: hidden;
}

.top-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.top-nav ul li {
  margin-left: 14px;
}

li:active,
:focus {
  outline: none !important;
  border: none !important;
}

.top-nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding: 10px 15px;
  transition: color 0.5s, background-color 0.5s;
}

.top-nav ul li a:hover {
  background-color: black;
}

.search-icon {
  margin-right: 50px;
  margin-left: 5px;
  cursor: pointer;
  color: white;
  margin-top: 2px;
  width: 50px;
  height: 25px;
}

.search-icon:hover {
  background-color: #be5a0e;
}

.main-nav {
  width: 100%;
  height: 300px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: transparent;
  position: fixed;
  z-index: 6;
  margin-top: -70px;
}

.main-nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background-color: white;
  border-bottom: 2px solid lightgray;
  z-index: 25;
  padding: 0 20px;
  margin-top: 0;
}

.main-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-right: 120px;
}

.main-nav ul li {
  position: relative;
  margin-left: 20px;
}

.main-nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-weight: 500;
  transition: color 0.3s;
  font-size: 18px;
  letter-spacing: 1px;
}

.main-nav.sticky ul li a {
  color: #6f6f7b;
}

.main-nav ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #be5a0e;
  text-underline-offset: 20px;
  text-decoration-thickness: 5px;
  min-width: 200px;
}

.main-nav ul li .header-link:hover {
  text-decoration: none;
}

.main-nav ul li a.active-link {
  text-decoration: underline;
  text-decoration-color: #be5a0e;
  text-underline-offset: 25px;
  text-decoration-thickness: 5px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 5px;
  background-color: white;
  z-index: 20;
  display: flex;
  width: 335px;
  flex-direction: column;
  border-radius: 1px;
  min-width: 200px;
  height: auto;
}

.dropdown-menu a {
  transition: background-color 0.3s;
  color: #6f6f7b !important;
  font-size: 15px !important;
  text-decoration: none !important;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  padding-left: 60px !important;
  padding-top: 15px !important;
}

.dropdown-menu a:hover {
  background-color: whitesmoke;
}

.dropdown-item-with-submenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-item-with-submenu .submenu-toggle {
  cursor: pointer;
  color: #6f6f7b;
  margin-left: 10px;
}

.dropdown-item-with-submenu:hover .submenu-toggle {
  color: red;
}

.submenu-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #36294a;
  color: white;
  cursor: pointer;
}

.submenu-header .back-icon {
  margin-right: 15px;
}

.submenu-header .submenu-title {
  margin-left: 15px;
}

.logo-title {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 20px;
}

.header-title h1,
.header-title h2 {
  margin: 0;
  color: white;
}

.header-title h2 {
  margin-top: -2px;
  margin-left: 30px !important;
  font-weight: 300 !important;
}

.main-nav.sticky .header-title h1,
.main-nav.sticky .header-title h2 {
  color: #6f6f7b;
}

.header-title h1 {
  font-size: 20px;
  font-weight: bold;
  margin-right: 275px;
  margin-bottom: -10px;
}

.header-title h2 {
  font-size: 14px;
  font-weight: normal;
  margin-left: 20px;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 11;
}

.hamburger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}

@media (max-width: 1000px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
  }

  .top-nav {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .main-nav {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .main-nav.open {
    display: flex;
  }

  .main-nav ul {
    flex-direction: column;
    width: 100%;
  }

  .main-nav ul li {
    margin: 10px 0;
  }

  .main-nav ul li a {
    font-size: 20px;
  }
}
