.hero2-container {
  max-width: 1275px;
  margin: 0 auto;
}

.hero2-container h1 {
  font-size: 36px;
  color: black;
  font-weight: 500;
  margin-top: 35px;
}

.hero2-container h2 {
  color: #be5a0e;
  margin: 0 !important;
}

.hero2-container a {
  color: black;
  font-weight: bold;
}

.hero2-container a:hover {
  text-decoration: none;
}

.accordion {
  margin-top: 20px;
}

.accordion-item {
  margin-bottom: 0;
  border: 1px solid #ddd;
  border-radius: 1px;
  overflow: hidden;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: #ffffff;
  padding-left: 20px;
}

.accordion-header span {
  font-size: 30px;
  margin-right: 5px;
}

.accordion-header .header-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.accordion-header .header-content h4 {
  margin: 0;
  padding-left: 15px;
  flex: 1;
  font-weight: 500;
}

.accordion-header .header-content p {
  margin: 0 !important;
  margin-left: -88px !important;
  text-align: left;
  flex: 2;
}
.accordion-content {
  padding: 15px;
  display: flex;
  flex-direction: row;
}

.accordion-content img {
  width: 25%;
  height: auto;
  margin-bottom: 15px;
  margin-top: -10px;
  margin-left: 40px;
  margin-right: 40px;
}

.accordion-text-content {
  display: flex;
  flex-direction: column;
}

.accordion-content a {
  color: #be5a0e;
  font-weight: bold;
  margin-bottom: 10px;
}

.accordion-content h5 {
  margin-bottom: 5px;
  font-weight: bold;
}

.accordion-content p {
  margin-bottom: 10px;
}

.table-header1 {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #ddd;
  border-bottom: none;
  margin-bottom: -20px;
  padding: 10px;
  color: #4a4a4a;
}

.table-header1 span {
  padding-left: 45px;
}

.table-header1 span:first-child {
  margin-right: 210px;
}

.select-airline {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.select-airline h2 {
  color: black;
  font-weight: 500;
  margin-right: auto !important;
  margin-top: 20px !important;
}

.select-airline select {
  width: 200px;
  height: 45px;
  font-size: 16px;
  padding-left: 5px;
  color: gray;
  width: 240px;
  border: 1px solid darkblue;
  cursor: pointer;
}

.select-airline select:focus {
  border: 1px solid darkblue !important;
}

.accordion-item.active {
  border-bottom: none;
  border-top: 2px solid black;
}

.accordion-item.active + .accordion-item {
  border-top: 2px solid black;
}

.new-data-section {
  margin-top: 40px;
}

.new-data-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.new-data-section p {
  margin-bottom: 10px;
}

.new-data-section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.new-data-section ul li {
  margin-bottom: 5px;
}
