.hero-container {
  margin-top: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(55, 24, 55);
  padding: 20px;
  overflow-x: auto; 
  white-space: nowrap; 
  color: red;
  font-weight: 700; /
}

.hero-title {
  font-size: 32px;
  margin-bottom: 10px;
}

.hero-subtitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.hero-subtitle:hover {
  cursor: pointer;
  color: red;
}

.flight-info-container {
  display: flex;
  justify-content: flex-start; 
  margin-top: 10px;
  overflow: hidden; 
}

.flight-info {
  display: inline-block; 
  text-align: left; 
  margin-right: 30px; 
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.flight-info img {
  width: 225px; 
  height: 275px;
  margin-bottom: 10px;
}
