.authority-leadership-container {
  font: 400 16px / 1.5 "Montserrat", sans-serif;
  padding: 50px;
  display: flex;
  flex-direction: row;
}

.authority-leadership-sidebar {
  width: 20%;
  margin-right: 30px;
  margin-top: -25px;
}

.authority-leadership-sidebar ul {
  list-style: none;
  padding: 0;
  margin-left: 20px;
}

.authority-leadership-sidebar a {
  color: #6f6f7b;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  display: block;
  transition: color 0.3s, transform 0.3s;
}

.authority-leadership-sidebar a.active {
  font-weight: bold;
  position: relative;
  color: black;
}

.authority-leadership-sidebar a.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1px;
  height: 2px;
  background-color: #662985;
}

.authority-leadership-sidebar a.active:hover {
  color: #9090a0;
}

.authority-leadership-sidebar a:hover {
  color: #323e66;
}

.authority-leadership-content {
  width: 80%;
  background-color: #ffffff;
  padding: 50px;
  border-radius: 10px;
  text-align: left;
}

.authority-leadership-header {
  text-align: left;
  padding: 20px 0;
  margin-top: -110px;
}

.authority-leadership-header h1 {
  font-size: 36px;
  color: black;
  font-weight: 400;
}

.authority-leadership-header p {
  color: #333;
  margin-right: 45px;
}

.authority-leadership-button {
  background-color: #be5a0e;
  color: #fff;
  padding: 14px 20px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.35s ease;
  margin: 5px 0;
  width: 400px;
  font-size: 18px;
}

.authority-leadership1-button {
  background-color: #be5a0e;
  color: #fff;
  padding: 14px 20px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.35s ease;
  width: 300px;
  font-size: 18px;
  margin: 40px 10px 50px 10px;
}

.authority-leadership-button:hover,
.authority-leadership1-button:hover {
  background-color: #390d68;
}

.authority-leadership-section {
  margin-bottom: 30px;
}

.authority-leadership-section h2 {
  margin-bottom: 20px;
  font-size: x-large;
  font-weight: 500;
}

.authority-leadership-section p {
  color: #333;
  font-weight: normal;
}

.authority-leadership-link {
  color: #be5a0e;
  text-decoration: none;
}

.authority-leadership-link:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
}

.divider {
  border-top: 1px solid #a09797;
  max-width: 975px;
  margin: 5px 0;
}

.section-links-container2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 40px;
  width: 100%;
  margin-top: -110px;
}

.section-links2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.link-item2 {
  display: flex;
  width: 120px;
  flex-direction: column;
  align-items: center;
  color: #3a3b5a;
  font-size: 1rem;
  transition: transform 0.3s, color 0.3s;
  transition: all 0.5s ease-out 0.25s;
  border: 1px solid rgb(180, 178, 178);
}

.link-item2:hover {
  cursor: pointer;
  color: #be5a0e;
}

@media (max-width: 768px) {
  .authority-leadership-container {
    flex-direction: column;
  }

  .authority-leadership-sidebar {
    width: 100%;
    margin: 0 0 20px 0;
  }

  .authority-leadership-content {
    width: 100%;
    padding: 20px;
  }
}
