.authority-leadership-container {
  display: flex;
  flex-direction: row;
}

.authority-leadership-content {
  text-align: left;
  margin-left: -98px;
  width: 68%;
}

.authority-leadership-header {
  margin-top: 45px;
}

.authority-leadership-header h1 {
  font-size: 36px;
  color: black;
  font-weight: 500;
}

.authority-leadership-header p {
  color: #333;
  margin-right: 45px;
}

.authority-leadership-button,
.authority-leadership1-button {
  background-color: #be5a0e;
  color: #fff;
  padding: 14px 20px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.35s ease;
  font-size: 18px;
}

.authority-leadership-button {
  margin: 5px 0;
  width: 400px;
}

.authority-leadership1-button {
  width: 300px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: -10px;
  margin-bottom: -60px;
  text-align: center;
}

.authority-leadership-button:hover,
.authority-leadership1-button:hover {
  background-color: #390d68;
}

.authority-leadership-section {
  margin-bottom: 30px;
}

.authority-leadership-section h2 {
  margin-bottom: 20px;
  font-size: x-large;
  font-weight: 500;
}

.authority-leadership-section p {
  color: #333;
  font-weight: normal;
}

.authority-leadership-link {
  color: #be5a0e;
  text-decoration: none;
}

.authority-leadership-link:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
}

.divider {
  border-top: 1px solid #a09797;
  max-width: 975px;
  margin: 15px 0;
}

.section-links-container3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 40px;
  width: 100%;
  margin-bottom: 75px;
}

.section-links3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 500px;
}

.link-item3 {
  display: flex;
  width: 120px;
  flex-direction: column;
  align-items: center;
  color: #3a3b5a;
  font-size: 1rem;
  transition: transform 0.3s, color 0.3s;
  transition: all 0.5s ease-out 0.25s;
  border: 1px solid rgb(180, 178, 178);
}

.link-item2:hover {
  cursor: pointer;
  color: #be5a0e;
}

@media (max-width: 768px) {
  .authority-leadership-container {
    flex-direction: column;
  }

  .authority-leadership-sidebar {
    width: 100%;
    margin: 0 0 20px 0;
  }

  .authority-leadership-content {
    width: 100%;
    padding: 20px;
  }

  .authority-leadership-button,
  .authority-leadership1-button {
    width: 100%;
  }
}
