/* .fly-container {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  top: 0;
  height: 730px;
}

.fly-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 31, 0.5);
  z-index: 1;
  clip-path: inherit;
}

.fly-container-content {
  position: relative;
  z-index: 2;
  color: white;
}

.home-route {
  clip-path: polygon(0 0, 100% 0, 100% 62%, 0 100%);
}

.lift-route {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
} */

.fly-container-content {
  padding: 20px;
}

.lift-header-part {
  margin: 0 250px;
}

.lift-header-part h1,
.lift-bottom-part h1 {
  color: #674574;
}

.lift-header-part h3 {
  color: #36294a;
  font-weight: 500;
}

.lift-header-part p {
  color: #2d2d2d;
}

.lift-bottom-part {
  margin: 0 250px;
  color: #2d2d2d;
}

.lift-bottom-part h2 {
  color: #be5a0e;
}
