.lost-item-form-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
}

.lost-item-form-section {
  width: 48%;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.lost-item-header h2,
.lost-item-header h3 {
  color: black;
  margin-bottom: 10px;
}

.lost-item-header h3 {
  font-size: 20px;
}

.lost-item-form-group {
  margin-bottom: 15px;
}

.lost-item-form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.lost-item-input,
.lost-item-select,
.lost-item-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
  box-shadow: none;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.lost-item-input:focus,
.lost-item-select:focus,
.lost-item-textarea:focus {
  border-color: #e76f51;
  box-shadow: 0 0 8px rgba(231, 111, 81, 0.5);
}

.lost-item-textarea {
  height: 100px;
}

.lost-item-captcha-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.lost-item-report-button {
  margin-top: 10px;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #5cb85c;
  border: none;
  border-radius: 1px;
  width: 250px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  transition: all 0.3s ease-out 0.3s;
  margin-left: 325px;
}

.lost-item-report-button:hover {
  background-color: #d65b44;
}

.lost-item-strong {
  color: black !important;
}

.lost-links-container {
  margin-top: 125px;
  margin-bottom: 100px;
}

.lost-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.lost-link-item {
  display: flex;
  width: 120px;
  flex-direction: column;
  align-items: center;
  color: #3a3b5a;
  font-size: 1rem;
  transition: all 0.3s ease-out 0.3s;
  border: 1px solid rgb(180, 178, 178);
}

.lost-link-item:hover {
  cursor: pointer;
  color: #be5a0e;
}
