.image-container {
  text-align: center;
  margin: 20px 0;
}

.maps-header h2 {
  margin-left: 0 !important;
  font-weight: 500;
}

.maps-header a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.parking-map-image {
  max-width: 100%;
  height: auto;
}

.maps-links-container {
  margin-top: 125px;
  margin-bottom: 100px;
}

.maps-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.maps-item {
  display: flex;
  width: 120px;
  flex-direction: column;
  align-items: center;
  color: #3a3b5a;
  font-size: 1rem;
  transition: all 0.3s ease-out 0.3s;
  box-shadow: 0 0 0px 2px #e9e9e9;
}

.maps-item:hover {
  color: #be5a0e;
}

.maps-item:hover {
  cursor: pointer;
  color: #be5a0e;
}
