.modal1-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal1-overlay:hover {
  cursor: pointer;
}

.modal1-content {
  background-color: white;
  width: 56%;
  height: 63%;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px;
  margin-bottom: 90px;
  text-align: left;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.modal1-content h1 {
  font-weight: 500;
  color: #36294a;
  margin-top: -5px;
  margin-bottom: -5px;
}

.modal1-content h3 {
  font-weight: 500;
  color: #36294a;
  margin-bottom: -15px;
  margin-left: 10px;
  font-size: 20px;
}

.modal1-content p {
  margin-bottom: -10px;
  display: flex;
  margin-left: 25px;
}

.modal1-content p strong {
  flex-shrink: 0;
  width: 150px;
}

.modal1-content p span {
  margin-left: 10px;
  flex: 1;
  text-align: left;
}

.modal1-close {
  color: white;
  background-color: #36294a;
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal1-content::-webkit-scrollbar {
  width: 8px;
}

.modal1-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.modal1-content::-webkit-scrollbar-thumb {
  background-color: #be5a0e;
  border-radius: 10px;
}
