.noise-header {
  margin-bottom: -25px;
}

.noise-header h2 {
  margin-left: 0 !important;
  font-weight: 500;
  margin-bottom: -10px;
}

.noise-header h3 {
  color: #be5a0e;
  font-size: 20px;
  margin-bottom: -10px;
}
