.operations-container h2 {
  margin-left: 0 !important;
  font-weight: 500;
}

.work-button {
  background-color: #be5a0e;
  color: white;
  font-size: 16px;
  padding: 12px 18px;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: center;
  width: 325px;
  margin-right: 15px;
  transition: all 0.3s ease-out 0.3s;
}

.video-button {
  background-color: #be5a0e;
  color: white;
  font-size: 16px;
  padding: 12px 18px;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: center;
  width: 275px;
  transition: all 0.1s ease-out 0.1s;
}

.video-button:hover,
.work-button:hover {
  background-color: #3a3b5a;
}

.operations-links-container {
  margin-top: 125px;
  margin-bottom: 100px;
}

.operations-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.operations-item {
  display: flex;
  width: 120px;
  flex-direction: column;
  align-items: center;
  color: #3a3b5a;
  font-size: 1rem;
  transition: all 0.3s ease-out 0.3s;
  box-shadow: 0 0 0px 2px #e9e9e9;
}

.operations-item:hover {
  color: #be5a0e;
}

.operations-item:hover {
  cursor: pointer;
  color: #be5a0e;
}
