.rental-cars-container h1,
.rental-cars-container h2,
.rental-cars-container h3 {
  color: #5c3c90;
  margin-bottom: 20px;
}

.rental-cars-container p {
  margin-bottom: 20px;
  line-height: 1.6;
}

.rental-cars-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top: 35px;
}

.rental-cars-table th,
.rental-cars-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.rental-cars-table th {
  background-color: #390d68;
  color: white;
}

.tutorial-button {
  background-color: #be5a0e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  font-size: 16px;
  width: 325px;
  transition: all 0.3s ease-out 0.3s;
}

.tutorial-button:hover {
  background-color: #390d68;
}

.rentals-header p {
  padding: 0 !important;
}
