.shuttles-information h2 {
  margin-left: 0 !important;
}

.shuttles-information a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.shuttles-container p {
  margin-bottom: 20px;
  line-height: 1.6;
}

.shuttles-container .link {
  color: #5c3c90;
  text-decoration: none;
}

.shuttles-container .link:hover {
  text-decoration: underline;
}

.shuttle-map {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  margin-top: -10px;
}

.shuttle-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 75px;
  margin-top: 40px;
}

.shuttle-table th,
.shuttle-table td {
  padding: 10px;
  text-align: left;
}

.shuttle-table th {
  border-top: 1px solid black;
}

.shuttle-table td {
  background-color: white;
}

.shuttle-table tr:nth-child(odd) td {
  background-color: white;
}

.shuttle-table tr:nth-child(even) td {
  background-color: #f0f0f0;
}

.shuttle-table tr:last-child td {
  border-bottom: 1px solid black;
}

.shuttle-table tr:first-child td {
  border-top: 1px solid black;
}

/* Responsive Design */
@media (max-width: 1000px) {
  .shuttles-container {
    padding: 10px;
  }

  .shuttle-table th,
  .shuttle-table td {
    padding: 5px;
  }
}
