.shuttle-buttons {
  display: flex;
  gap: 10px;
  margin-left: 2px;
  margin-bottom: 35px;
}

.shuttle-button {
  color: #fff;
  background-color: #be5a0e;
  padding: 14px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.35s ease;
  font-size: 18px;
}

.shuttle-button.grey-blue-route {
  width: 220px;
}

.shuttle-button.red-route {
  width: 190px;
}

.shuttle-button:hover {
  background-color: #390d68;
}

.shuttle-map {
  text-align: center;
}

.shuttle-map img {
  max-width: 100%;
  height: auto;
  border-radius: 1px;
  margin-left: -225px;
  margin-bottom: -20px;
}

.shuttle-links-container {
  margin-top: 125px;
  margin-bottom: 100px;
}

.shuttle-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.shuttle-item {
  display: flex;
  width: 120px;
  flex-direction: column;
  align-items: center;
  color: #3a3b5a;
  font-size: 1rem;
  transition: all 0.3s ease-out 0.3s;
  box-shadow: 0 0 0px 2px #e9e9e9;
}

.shuttle-item:hover {
  color: #be5a0e;
}

.shuttle-item:hover {
  cursor: pointer;
  color: #be5a0e;
}

@media (max-width: 768px) {
  .shuttle-container {
    flex-direction: column;
  }

  .shuttle-sidebar {
    width: 100%;
    margin: 0 0 20px 0;
  }

  .shuttle-content {
    width: 100%;
    padding: 20px;
  }

  .shuttle-button,
  .shuttle-button.grey-blue-route,
  .shuttle-button.red-route {
    width: 100%;
  }
}
