.title9-top {
  background-color: white;
}

.title9-top h2 {
  margin-left: 0 !important;
}

.title9-top ul {
  list-style: none;
  padding: 0;
  margin-left: 5px;
}

.title9-top li {
  margin-bottom: 5px;
}

.title9-top ul li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}

.title9-links-container {
  margin-top: 125px;
  margin-bottom: 100px;
}

.title9-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.title9-item {
  display: flex;
  width: 120px;
  flex-direction: column;
  align-items: center;
  color: #3a3b5a;
  font-size: 1rem;
  transition: all 0.3s ease-out 0.3s;
  box-shadow: 0 0 0px 2px #e9e9e9;
}

.title9-item:hover {
  color: #be5a0e;
}

.title9-item:hover {
  cursor: pointer;
  color: #be5a0e;
}
