.flights-link {
  color: #6f6f7b;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  display: block;
  transition: color 0.3s, transform 0.3s;
}

.flights-link.active {
  font-weight: bold;
  position: relative;
  color: black;
}

.flights-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1px;
  height: 2px;
  background-color: #662985;
}

.flights-link.active:hover {
  color: #9090a0;
}

.flights-link:hover {
  color: #323e66;
}

.traveler-info-content {
  width: 69%;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: left;
  padding: 20px;
}

.traveler-info-content h1 {
  font-size: 36px;
  color: black;
  font-weight: 400;
}

.traveler-info-content p {
  color: #333;
  margin: 20px 0;
}

.traveler-info-content h2 {
  font-size: 24px;
  color: #333;
  font-weight: 400;
  margin-top: 30px;
}

.traveler-info-content ol {
  margin-left: 20px;
}

.traveler-info-content ol li {
  margin-bottom: 10px;
  color: #333;
}

.section-links-container4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 40px;
  height: 200px;
  width: 100%;
  margin-top: 80px;
  margin-bottom: -150px;
}

.section-links4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.link-item4 {
  display: flex;
  width: 120px;
  flex-direction: column;
  align-items: center;
  color: #3a3b5a;
  font-size: 1rem;
  transition: transform 0.3s, color 0.3s;
  transition: all 0.5s ease-out 0.25s;
  border: 1px solid rgb(180, 178, 178);
}

.link-item4:hover {
  color: #be5a0e;
}

.link-item4:hover {
  cursor: pointer;
  color: #be5a0e;
}
