.tsaprecontainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.tsapre {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tsapreheader {
  color: #5c3c90;
}

.tsapre p {
  margin-bottom: 20px;
}

.content-wrapper {
  display: flex;
  align-items: flex-start;
}

.text-content {
  flex: 1;
}

.image-container {
  margin-left: 20px;
  max-width: 150px; /* Smaller image */
}

.precheck-image {
  max-width: 40%;
}
.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.global-entry-section {
  margin-top: 40px;
}

.global-entry-section h2 {
  color: #5c3c90;
}

.tsapre a {
  font-weight: bold;
  color: #5c3c90;
  text-decoration: none;
}

.tsapre a:hover {
  text-decoration: underline;
}

.content-wrapper {
  display: flex;
  align-items: center;
}
